<div class="container">
	<div class="rows" style="margin: 2em; padding: 1em; width: auto;">
		<div class="col">
			<div class="panel-body col-6 offset-3">
				<h2>Log In</h2>
				<%= form_tag sessions_path, role: "form" do %>
					<div class="form-group">
						<%= text_field_tag :username, params[:username], class: "form-control", autofocus: true, placeholder: "Username" %>
					</div>
					<div class="form-group">
						<%= password_field_tag :password, params[:pasword], class: "form-control", placeholder: "Password" %>
					</div>
					<div class="form-group">
						<%= submit_tag "Log in!", class: "btn btn-primary btn-lg btn-submit" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>