<div class="container">
	<div class="col-9">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Edit Your Current Shop</h3>
				</div>
				<div class="panel-body">
					<%= render 'partials/shop_form' %>
				</div>
			</div>
		</div>
	</div>
</div>