<div class="container">
	<div class="col-md-12">
		<div class="page-header">
			<h1>List of Shops</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Shop Name</th>
						<th>Shop Address</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% if @user.shops.each do |shop| %>
						<tr>
							<td><%= shop.shop_name %></td>
							<td><%= shop.shop_address %></td>
							<td>
								<%= link_to 'Edit Shop', edit_user_shop_path(@user, shop) %> |
								<%= link_to 'Delete Shop', user_shop_path(@user, shop), method: :delete, data: {confirm: 'Are you sure want to delete this shop?'} %>
							</td>
						</tr>
					<% end.empty? %>
						<tr>
							<div class="alert alert-danger text-center">
								You don't set any shop yet.. Go to SETTINGS menu to add one..
							</div>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>