<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% flash.each do |name, msg| %>
		    <strong>
		      <%= content_tag :div, msg, class: "alert alert-#{name} col-md-6 col-md-offset-3 text-alert", role: "alert" %>
		    </strong>
		  <% end %>
		</div>
	</div>
</div>
