<div class="navbar navbar-toggleable-md navbar-light bg-faded clearfix">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		<span class="navbar-toggler-icon"></span>
	</button>
	<%= link_to "Pos System", root_path, class: "navbar-brand" %>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			</ul>
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<%= link_to "Contact Us", contact_us_path, class: "nav-item nav-link" %>
				</li>
			</ul>
		</div>
	</div>
</div>